#
#spring:
#  datasource:
##    url: jdbc:mysql://118.25.101.128:3306/zhdj_db_20180624?useUnicode=true&characterEncoding=utf-8&useSSL=false
##    username: develop
##    password: develop
#    url: jdbc:mysql://192.168.0.240:3306/zhdj_db?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    username: root
#    password: raising
#    type: com.alibaba.druid.pool.DruidDataSource
#    driverClassName: com.mysql.jdbc.Driver
#
#    #连接池的配置信息
#    initialSize: 5
#    minIdle: 5
#    maxActive: 20
#    maxWait: 60000
#    timeBetweenEvictionRunsMillis: 60000
#    minEvictableIdleTimeMillis: 300000
#    validationQuery: SELECT 1 FROM DUAL
#    testWhileIdle: true
#    testOnBorrow: false
#    testOnReturn: false
#    poolPreparedStatements: true
#    maxPoolPreparedStatementPerConnectionSize: 20
#    filters: stat,wall,log4j
#    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
#
#
##Mybatis扫描
#mybatis:
#  mapper-locations: classpath*:mappings/**/*.xml
#
#
###druid datasource
##druid.initialSize=10
##druid.minIdle=10
##druid.maxActive=200
##druid.maxWait=600000
##druid.timeBetweenEvictionRunsMillis=30000
##druid.minEvictableIdleTimeMillis=150000
##druid.validationQuery=SELECT 'x' FROM DUAL
##druid.validationQueryTimeout=3600
##druid.testWhileIdle=true
##druid.testOnBorrow=false
##druid.testOnReturn=false
##druid.removeAbandoned=true
##druid.removeAbandonedTimeout=1800
##druid.logAbandoned=true
##druid.poolPreparedStatements=true
##druid.maxPoolPreparedStatementPerConnectionSize=20
##druid.filters=wall,stat
#
#logging:
#  level:
#    root: INFO
#    org.springframework:
#      data: DEBUG
#      security: DEBUG
#    com.raising: DEBUG
#
## JWT
#jwt:
#  header: Authorization
#  secret: caring
#  expiration: 604800
#  tokenHead: "Bearer "
#  route:
#    authentication:
#      path: "session"
#      refresh: "session"
#      register: "user"
#  allowPath: /session/**,/user/**,/v2/**,swagger-ui.html,/swagger-resources/**,/webjars/**,/health/**,/info/**,/img/**,/third-party/**,/api/**,/admin/**,/trace/**,/applications/**,/env/**,/dump/**,/logfile/**,/metrics/**,/loggers/**,/jolokia/**,/refresh/**,/heapdump/**,/flyway/**,/liquibase/**,/auditevents/**,
#
#oauth:
#  allowPath: /hystrix/**,/auth/**,/v2/**,swagger-ui.html,/swagger-resources/**,/webjars/**,/health/**,/img/**,/third-party/**,/api/**,/admin/**,/trace/**,/applications/**,/env/**,/dump/**,/logfile/**,/metrics/**,/loggers/**,/jolokia/**,/refresh/**,/heapdump/**,/flyway/**,/liquibase/**,/auditevents/**,
#
#server:
#  port: 9988
##   port: 8080
spring:
  datasource:
#    url: jdbc:mysql://118.25.101.128:3306/zhdj_db_20180624?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    username: develop
##    password: develop
#    url: jdbc:mysql://192.168.0.240:3306/zhdj_db?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    username: root
#    password: raising
#    url: jdbc:mysql://localhost:3306/zhdj_db?useUnicode=true&characterEncoding=utf-8&useSSL=false
#    username: root
#    password: C875645123HY
    url: jdbc:mysql://47.101.44.55:3306/test?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: gkd123,.
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.jdbc.Driver

    #连接池的配置信息
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    filters: stat,wall,log4j
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000


#Mybatis扫描
mybatis:
  mapper-locations: classpath*:mappings/**/*.xml


##druid datasource
#druid.initialSize=10
#druid.minIdle=10
#druid.maxActive=200
#druid.maxWait=600000
#druid.timeBetweenEvictionRunsMillis=30000
#druid.minEvictableIdleTimeMillis=150000
#druid.validationQuery=SELECT 'x' FROM DUAL
#druid.validationQueryTimeout=3600
#druid.testWhileIdle=true
#druid.testOnBorrow=false
#druid.testOnReturn=false
#druid.removeAbandoned=true
#druid.removeAbandonedTimeout=1800
#druid.logAbandoned=true
#druid.poolPreparedStatements=true
#druid.maxPoolPreparedStatementPerConnectionSize=20
#druid.filters=wall,stat

logging:
  level:
    root: INFO
    org.springframework:
      data: DEBUG
      security: DEBUG
    com.raising: DEBUG

# JWT
jwt:
  header: Authorization
  secret: caring
  expiration: 604800
  tokenHead: "Bearer "
  route:
    authentication:
      path: "session"
      refresh: "session"
      register: "user"
  allowPath: /session/**,/user/**,/v2/**,swagger-ui.html,/swagger-resources/**,/webjars/**,/health/**,/info/**,/img/**,/third-party/**,/api/**,/admin/**,/trace/**,/applications/**,/env/**,/dump/**,/logfile/**,/metrics/**,/loggers/**,/jolokia/**,/refresh/**,/heapdump/**,/flyway/**,/liquibase/**,/auditevents/**,

oauth:
  allowPath: /hystrix/**,/auth/**,/v2/**,swagger-ui.html,/swagger-resources/**,/webjars/**,/health/**,/img/**,/third-party/**,/api/**,/admin/**,/trace/**,/applications/**,/env/**,/dump/**,/logfile/**,/metrics/**,/loggers/**,/jolokia/**,/refresh/**,/heapdump/**,/flyway/**,/liquibase/**,/auditevents/**,

server:
  port: 9988
#   port: 8080

